:root{
	--azul:#233c71;
}
.container {
	padding: 6rem 0;
}

.container-title-informe {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 7rem;
}

.logo-user-validacion > img {
	max-width: 8rem;
}

.titulo-validacion {
	background: linear-gradient(#3C64AC,#243B6E);
	align-items: center;
	display: flex;
	position: relative;
	justify-content: left;
	height: 6rem;
	padding-left: 2rem;
	margin-right: 2rem;
}

.titulo-validacion::before {
	content: "";
	height: 100%;
	background: linear-gradient(#3C64AC,#243B6E);
	position: absolute;
	right: -2rem;
	border-radius: 0 1.5rem 0 0;
	top: 0;
	width: 5rem;
	transform: skew(-15deg);
	z-index: -1;
}

.titulo-validacion p {
	font-size: 1.3rem;
	line-height: 1;
	font-weight: bold;
	max-width: 8rem;
}

@media (min-width: 769px) {
	.titulo-validacion {
		height: 8rem;
		margin-right: 5rem;
	}

	.titulo-validacion p {
		font-size: 2rem;
		max-width: 11rem;
	}

	.titulo-validacion-logo {
		width: 5rem;
	}
}

.w-80{
	width: 80% !important;
}
.bgcolor{
	background-color: var(--azul);
}
.labels{
	color: var(--azul);
	word-break: break-word;
}
.cabecera{
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.cabecera > img {
	display: none;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

@media (min-width: 769px) {
	.cabecera > img {
		display: flex;
	}
}

.logos{
	width: 250px;
}
.logos2{
	width: 150px;
}
.texto-cabecera{
	font-size: 1.7rem;
}
.conten-informe-validacion{
 height: 400px;
}
.titulo-formulario{
	font-size: 1.6rem;
}

.titulo-formulario,
.titulo-formulario2,
.titulo-circulos,
.titulo-coincidencia,
.titulo-consulta,
.titulo-listas,
.titulo-pie,
.titulo-listas-info{
	background-image: url(imagenes/fondo-titulo.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 200px;
}
.titulo-formulario2 {
	height: 100px;
	font-size: 1.3rem;
}

.titulo-validacion-logo {
	width: 3rem;
}

.logo-central img{
	width: 280px;
}
.fon-inputs{
	background-color: rgb(227 232 234);
}
.conten-1{
	padding-left: 0;
	margin-left: 0;
	margin-right: 20px;
	padding-right: 0;
	max-width: 1200px;

}
.fondo-morado{
	background-color: purple;
	background-image: url(imagenes/fondo-espacio.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.titulo-circulos,
.titulo-resumen,
.titulo-pie,
.titulo-resumen-info{
	background-image: url(imagenes/fondo5.png);
	height: 60px;
	width: 600px;
	text-align: center;
	margin-top: -3px;
}

.titulo-pie{
	font-size: 1.2rem;
	height: 40px;
	margin-top: 7px;
	width: 450px;
}
.titulo-resumen,
.titulo-resumen-info{
	background-image: url(imagenes/fondo6.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 1.5rem;
}
.titulo-resumen-info{
	background-image: url(imagenes/fondo10.svg);
}
.titulo-coincidencia,
.titulo-consulta,
.titulo-listas,
.titulo-listas-info{
	font-size: 1.3rem;
	height: 50px;
}
.titulo-listas-info{
	background-image: url(imagenes/fondo9.svg);
}
.titulo-listas{
	background-image: url(imagenes/fondo8.svg);
}
.pie{
	background-image: url(imagenes/fondo-pie.svg);  
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.texto-pie{
	font-size: .6rem;
}
.tabla{
	background: rgb(241,254,254);
	background: linear-gradient(180deg, rgba(241,254,254,1) 0%, rgba(249,204,225,1) 100%);
}

input[type="checkbox"]{
display: none;
}
input[type="checkbox"] + label.checkbox-verde::before,
input[type="checkbox"] + label.checkbox-rojo::before,
input[type="checkbox"] + label.checkbox-azul::before{
	width: 20px;
	height: 20px;
	content: url(imagenes/checkbox-verde-1.png);
}
input[type="checkbox"] + label.checkbox-rojo::before{
	content: url(imagenes/checkbox-rojo-1.png);
}
input[type="checkbox"] + label.checkbox-azul::before{
	content: url(imagenes/checkbox-azul-1.png);
}
input[type="checkbox"]:checked + label.checkbox-verde::before,
input[type="checkbox"]:checked + label.checkbox-rojo::before,
input[type="checkbox"]:checked + label.checkbox-azul::before {
	width: 20px;
	height: 20px;
	content: url(imagenes/checkbox-verde-2.png);
}
input[type="checkbox"]:checked + label.checkbox-rojo::before{
	content: url(imagenes/checkbox-rojo-2.png);
}
input[type="checkbox"]:checked + label.checkbox-azul::before{
	content: url(imagenes/checkbox-azul-2.png);
}
/*========= barras de progreso circulares =========*/
.progress{
	width: 120px;
	height: 120px;
	background: none;
	margin: 0 auto;
	box-shadow: none;
	position: relative;
}
.progress > span{
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}
.progress .progress-left{
	left: 0;
}
.progress .progress-bar{
	width: 100%;
	height: 100%;
	background: none;
	border-width: 12px;
	border-style: solid;
	position: absolute;
	top: 0;
}
.progress .progress-left .progress-bar{
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}
.progress .progress-right{
	right: 0;
}
.progress .progress-right .progress-bar{
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}
/* ============= circulos ===========*/
.progress-gray{
	background: rgb(122 122 124);
}
.progress-green{
	background: rgb(209,209,42);
	background: linear-gradient(230deg, rgba(209,209,42,1) 0%, rgba(67,167,67,1) 35%, rgba(78,171,31,1) 100%);
}
.progress-blue{
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.border-purple{
	border: 3px solid rgb(65, 2, 65);
}
.circle-back{
	width: 88%;
	height: 88%;
	border-radius: 50%;
	background: #5a5c5d;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 6%;
	left: 6%;
	background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.border-back{
	width: 78%;
	height: 78%;
	border-radius: 50%;
	background: #5a5c5d;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 11%;
	left: 11%;
	background: rgb(207,206,221);
	background: linear-gradient(30deg, rgb(196 195 218) 0%, rgba(160,160,171,1) 35%, rgb(79 91 93) 100%);
}
.progress .progress-value{
	width: 72%;
	height: 72%;
	border-radius: 50%;
	/* background: #5a5c5d; */
	color: #fff;
	text-align: center;
	position: absolute;
	top: 14%;
	left: 14%;
}
.progress .progress-value .texto{
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1rem;
}
.progress .progress-porcent{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.progress .progress-porcent .porcent{
	font-size: 1.3rem;
}
/* 5% */
.progress.porcent-05 .progress-bar{
	border-color: #f30a0a;
}
.progress.porcent-05 .progress-right .progress-bar{
	animation: loading-05 1s linear forwards 1.8s;
}
/* 15% */
.progress.porcent-15 .progress-bar{
	border-color: #f33d0a;
}
.progress.porcent-15 .progress-right .progress-bar{
	animation: loading-15 1s linear forwards 1.8s;
}
/* 25% */
.progress.porcent-25 .progress-bar{
	border-color: #f36139;
}
.progress.porcent-25 .progress-right .progress-bar{
	animation: loading-25 1s linear forwards 1.8s;
}
/* 35% */
.progress.porcent-35 .progress-bar{
	border-color: #f08b33;
}
.progress.porcent-35 .progress-right .progress-bar{
	animation: loading-35 1s linear forwards 1.8s;
}
/* 45% */
.progress.porcent-45 .progress-bar{
	border-color: #f2bb23;
}
.progress.porcent-45 .progress-right .progress-bar{
	animation: loading-45 1s linear forwards 1.8s;
}
/* 55% */
.progress.porcent-55 .progress-bar{
	border-color: #ebca6f;
}
.progress.porcent-50 .progress-right .progress-bar{
	animation: loading-50 1s linear forwards 1.8s;
}
.progress.porcent-55 .progress-left .progress-bar{
	animation: loading-55 1s linear forwards 2.8s;
}

/* 65% */
.progress.porcent-65 .progress-bar{
	border-color: #ed687c;
}
.progress.porcent-50 .progress-right .progress-bar{
	animation: loading-50 1s linear forwards 1.8s;
}
.progress.porcent-65 .progress-left .progress-bar{
	animation: loading-65 1s linear forwards 2.8s;
}
/* 75% */
.progress.porcent-75 .progress-bar{
	border-color: #2d99d8;
}
.progress.porcent-50 .progress-right .progress-bar{
	animation: loading-50 1s linear forwards 1.8s;
}
.progress.porcent-75 .progress-left .progress-bar{
	animation: loading-75 0.4s linear forwards 2.8s;
}
/* 85% */
.progress.porcent-85 .progress-bar{
	border-color: #89e99f;
}
.progress.porcent-50 .progress-right .progress-bar{
	animation: loading-50 1s linear forwards 1.8s;
}
.progress.porcent-85 .progress-left .progress-bar{
	animation: loading-85 1.2s linear forwards 2.8s;
}
/* 95% */
.progress.porcent-95 .progress-bar{
	border-color: #2b7238;
}
.progress.porcent-50 .progress-right .progress-bar{
	animation: loading-50 1s linear forwards 1.8s;
}
.progress.porcent-95 .progress-left .progress-bar{
	animation: loading-95 1.5s linear forwards 2.8s;
}
@keyframes loading-0{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
	}
}
@keyframes loading-05{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(35deg);
			transform: rotate(35deg);
	}
}
@keyframes loading-15{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(60deg);
			transform: rotate(60deg);
	}
}
@keyframes loading-25{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	}
}
@keyframes loading-35{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(120deg);
			transform: rotate(120deg);
	}
}
@keyframes loading-45{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(160deg);
			transform: rotate(160deg);
	}
	
}
@keyframes loading-50{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
	}
	
}
@keyframes loading-55{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(40deg);
			transform: rotate(40deg);
	}
	
}
@keyframes loading-65{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(70deg);
			transform: rotate(70deg);
	}
	
}
@keyframes loading-75{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	}
	
}
@keyframes loading-85{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(120deg);
			transform: rotate(120deg);
	}
	
}
@keyframes loading-95{
	0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
			-webkit-transform: rotate(160deg);
			transform: rotate(160deg);
	}
	
}
@media only screen and (max-width: 990px){
	.progress{ margin-bottom: 20px; }
}

/* estilos para Celulares */
@media (max-width: 420px) {
			.logos {
					width: 150px;
			}
			.cabecera{
					background-image: none;
			}
			.cabecera .row .col-12:nth-child(2){
					background-color: var(--azul);
			}
			.texto-cabecera,
			.titulo-formulario,
			.titulo-circulos {
					font-size: 1.2rem;
			}
			.titulo-circulos{
					height: 44px;
					width: 320px;
			}
			.conten-informe-validacion {
					height: 200px;
			}
			.logo-central img {
					width: 190px;
			}
			.titulo-formulario2,
			.titulo-coincidencia,
			.titulo-listas,
			.titulo-listas-info,
			.titulo-consulta{
					font-size: 1rem;
			}
			.titulo-resumen,
			.titulo-resumen-info{
					font-size: 1.1rem;
					height: 32px;
			}
			.pie{
					height: auto;
					background-image: none;
			}
			.titulo-pie,
			.texto-pie{
					font-size: .8rem;
			}
			.fondo-pie-movil{
			background-color: var(--azul);
			}
			.progress {
					width: 70px;
					height: 70px;
					margin-bottom: 0;
			}
			.progress .progress-value .texto{
					font-size: 0.8rem;
			}

}

/* estilos para Celulares Horizontales*/
@media (min-width: 421px)  and (max-width: 768px){
	.progress {
			width: 70px;
			height: 70px;
			margin-bottom: 0;
	}
	.progress .progress-value .texto{
			font-size: 0.8rem;
	}
	.logos {
			width: 150px;
	}
	.cabecera{
			background-image: none;
	}
	.cabecera .row .col-12:nth-child(2){
			background-color: var(--azul);
	}
	.texto-cabecera,
	.titulo-formulario,
	.titulo-circulos {
			font-size: 1.2rem;
	}
	.titulo-circulos{
			height: 44px;
			width: 320px;
	}
	.conten-informe-validacion {
			height: 200px;
	}
	.logo-central img {
			width: 190px;
	}
	.titulo-formulario2,
	.titulo-coincidencia,
	.titulo-listas,
	.titulo-listas-info,
	.titulo-consulta{
			font-size: 1rem;
	}
	.titulo-resumen,
	.titulo-resumen-info{
			font-size: 1.1rem;
			height: 32px;
	}
	.pie{
			height: auto;
			background-image: none;
	}
	.titulo-pie,
	.texto-pie{
			font-size: .8rem;
	}
	.fondo-pie-movil{
	background-color: var(--azul);
	}
}

/* estilos para Tables*/
@media (min-width: 769px)  and (max-width: 1080px){
	.cabecera{
			height: 95px;
	}
	.logos {
			width: 150px;
	}
	.logo-central img {
			width: 185px;
	}
	.texto-cabecera,
	.titulo-formulario,
	.titulo-circulos {
			font-size: 1.3rem;
	}
	.titulo-formulario2,
	.titulo-coincidencia,
	.titulo-listas,
	.titulo-listas-info,
	.titulo-consulta{
			font-size: 1.1rem;
	}
	.titulo-pie,
	.texto-pie{
			font-size: .9rem;
	}
	.titulo-resumen,
	.titulo-resumen-info{
			font-size: 1.2rem;
			height: 42px;
	}
	.progress {
			width: 90px;
			height: 90px;
	}
	.progress .progress-value .texto{
			font-size: 0.7rem;
	}
	.pie{
			background-image: none;
			height: 480px;
	}
	.fondo-pie-movil{
			background-color: var(--azul);
	}
}

@media print {
	.bgcolor{
			background-color: var(--azul);
	}
	.cabecera{
			height: 95px;
	}
	.logos {
			width: 150px;
	}
	.logo-central img {
			width: 185px;
	}
	.texto-cabecera,
	.titulo-formulario,
	.titulo-circulos {
			font-size: 1.3rem;
	}
	.titulo-formulario2,
	.titulo-coincidencia,
	.titulo-listas,
	.titulo-listas-info,
	.titulo-consulta{
			font-size: 1.1rem;
	}
	.titulo-pie,
	.texto-pie{
			font-size: .9rem;
	}
	.titulo-resumen,
	.titulo-resumen-info{
			font-size: 1.2rem;
			height: 42px;
	}
	.progress {
			width: 90px;
			height: 90px;
	}
	.progress .progress-value .texto{
			font-size: 0.7rem;
	}
	.pie{
			background-image: none;
			height: 480px;
	}
	.fondo-pie-movil{
			background-color: var(--azul);
	}
	.limite-pagina-1{
			margin-bottom: 5cm;
	}
	.limite-pagina-2{
			padding-bottom: 7cm;
	}
	.texto-print{
			color: #000428 !important;
	}
}