:root{
	--blue:#233c71;
	--blue-gradient: linear-gradient(#5980c9, var(--blue));
	--red-gradient: linear-gradient(#f7596e,#f31230);
	--green-gradient: linear-gradient(#45d37b,#07a042);
}

.header{
	padding-top: 3rem;
	display: flex;
	width: 100%;
}

.header-logos {
	display: flex;
	flex: 1;
	justify-content: center;
}

.header-text {
	flex: 1;
	padding-left: 5rem;
	padding-right: 2rem;
}

.header-text h2 {
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.header-bg {
	display: none;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	height: 10rem;
	width: 100%;
	z-index: -1;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.logos {
	max-width: 12rem;
	object-fit: contain;
}

.title {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
}

.title > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.title-sub {
	align-items: center;
	background: var(--red-gradient);
	border-radius: 0 .3rem .5rem 0;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem 3rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
	left: -2rem;
	z-index: -1;
}

.search-resume-informative .title-sub {
	background: var(--green-gradient);
}

.title-sub > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.container-title-informe {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 5rem auto;
	max-width: 50rem;
}

.logo-user-validacion > img {
	max-width: 8rem;
}

.titulo-validacion {
	background: var(--blue-gradient);
	align-items: center;
	display: flex;
	position: relative;
	justify-content: left;
	padding: 1rem 2rem 1rem;
	margin-right: 4rem;
}

.titulo-validacion-logo {
	width: 5rem;
	height: 5rem;
}

.titulo-validacion::before {
	background: var(--blue-gradient);
	border-radius: 0 1.5rem 0 0;
	content: "";
	height: calc(100% + .3px);
	position: absolute;
	right: -2rem;
	top: 0;
	transform: skew(-15deg);
	width: 5rem;
	z-index: -1;
}

.titulo-validacion p {
	font-size: 1.3rem;
	line-height: 1;
	font-weight: bold;
}

.form-consult {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin: 0 auto;
}

.form-consult-title {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem;
	transform: skew(15deg);
}

.form-consult-title > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.form-consult > form {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-consult label {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	margin-bottom: .5rem;
}

.form-consult input {
	background-color: #e9ecef;
	border: .1rem solid rgb(190, 190, 190);
	border-radius: .2rem;
	flex: 1;
	padding: .5rem;
}

.form-consult label span {
	color: var(--blue);
	font-weight: 700;
	min-width: 100%;
	margin: .3rem 0;
}

.form-consult label:last-child span {
	min-width: 100%;
}

.form-user-consult {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.form-user-consult label {
	align-items: flex-end;
	display: flex;
	width: 100%;
	margin-bottom: .5rem;
}

.form-user-consult label span {
	min-width: 7rem;
	text-align: left;
}

.form-user-consult label input {
	background-color: #e9ecef;
	border: .1rem solid rgb(165, 165, 165);
	border-radius: .3rem;
	margin: 0 1rem;
	padding: .2rem .5rem;
	width: 100%;
}

.user-consult {
	display: flex;
	flex-wrap: wrap;
}

.user-consult-col {
	position: relative;
	padding: 0 1rem;
	width: 100%;
}

.user-consult-col:first-child {
	padding-left: .3rem;
}

.user-consult-col:first-child {
	max-width: 40rem;
	margin: 0 auto;
}

.user-consult-col:nth-child(2) {
	background: var(--blue-gradient);
	border-top-left-radius: 2rem;
}

.user-consult-col:nth-child(2)::before {
	background: var(--blue-gradient);
	content: "";
	height: 100%;
	width: 10rem;
	position: absolute;
	top: 0;
	left: -4rem;
	border-radius: 2rem 0 0 0;
	z-index: -1;
	transform: skew(-20deg);
}

.user-consult-col:nth-child(2) p {
	color: white;
}

.buttons-type {
	align-items: center;
	display: flex;
	max-width: 70rem;
	margin: 0 auto;
	padding: 2rem;
}

.buttons-type h3 {
	color: var(--blue);
	margin-right: 2rem;
}

.btn-circle {
	align-items: center;
	border-radius: 50%;
	border: .3rem solid rgb(155, 155, 155);
	color: white;
	display: flex;
	font-weight: 600;
	font-size: 1.1rem;
	height: 6rem;
	justify-content: center;
	margin: 2rem;
	width: 6rem;
}

.btn-circle--active {
	background: var(--blue-gradient);
}

.btn-circle--inactive {
	background: linear-gradient(#868686,#575757);
}

.container-basic-data {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(162, 211, 240, 0.3),rgba(121, 130, 255, 0.3)), url(/imagenes/bg-consult2.jpg);
	background-size: cover;
	padding: 2rem;
}

.container-basic-data-averages {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.subtitle-underlined {
	color: var(--blue);
	font-weight: 600;
	margin-bottom: 2rem;
	margin-top: 5rem;
	padding-bottom: 1rem;
	position: relative;
	display: flex;
	justify-content: center;
}

.subtitle-underlined::before {
	border-bottom: .15rem solid var(--blue);
	position: absolute;
	bottom: 0;
	content: "";
	width: 50%;
}

.container-basic-data-graphs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.container-basic-data-graph {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.container-basic-data-graph span {
	color: var(--blue);
	font-size: 1.4rem;
	font-weight: 600;
}

.container-basic-data-fields,
.container-basic-data-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-basic-data-fields ul,
.container-basic-data-type ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
}

.container-basic-data-fields ul li,
.container-basic-data-type ul li {
	align-items: center;
	background: linear-gradient(#d8e1f3,#8a97b4);
	padding: .2rem .5rem;
	border-radius: .3rem;
	color: var(--blue);
	display: flex;
	font-size: 1.3rem;
	font-weight: 600;
	margin: .5rem 1.5rem;
}

.container-basic-data-fields ul li img,
.container-basic-data-type ul li img {
	height: 1.2rem;
	width: 1.2rem;
	margin-right: .3rem;
}

/* ------- progess bar circle -------- */
.progress {
  width: 150px;
  height: 150px;
  float: left;
  line-height: 12rem;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1rem solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
  animation: loading-1 1s linear forwards;
}

.progress .progress-value {
	align-items: center;
	display: flex;
	font-weight: 500;
	justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1.8rem;
  height: 90%;
  left: 5%;
  position: absolute;
  text-align: center;
  top: 5%;
  width: 90%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1s linear forwards 1s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1s linear forwards;
}

.progress.yellow .progress-left .progress-bar {
  animation: none;
}

.search-resume-laft,
.search-resume-informative {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	flex-wrap: wrap;
}

.container-table {
	width: 100%;
	padding: 2rem;
}

.container-table table {
	max-width: 50rem;
	margin: 2rem auto;
	width: 100%;
}

.container-table table tr:nth-child(2) th {
	color: var(--blue);
	text-align: center;
	border-bottom: .1rem solid gray;
	box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}

.container-table table tr:first-child th p {
	background: var(--red-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-size: 1.1rem;
	max-width: 20rem;
	padding: .5rem 1rem;
	transform: skew(15deg);
}

.search-resume-informative .container-table table tr:first-child th p {
	background: var(--green-gradient);
}

.container-table table tr:first-child th {
	padding-bottom: 2rem;
}

.container-table table tr:first-child th p span {
	transform: skew(-15deg);
}

.container-table table tbody tr td {
	text-align: center;
	padding: 1rem;
}

.container-table table tbody tr:nth-child(odd) {
	background-color: rgb(233, 233, 233)
}

@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
/* ------ end progress bar circle ---- */

@media (min-width: 1024px) {
	.user-consult-col {
		padding: 0 2rem;
		width: 50%;
	}

	.user-consult-col:nth-child(2) {
		background: var(--blue-gradient);
		border-top-left-radius: 2rem;
		padding-top: 2rem;
	}
}

@media (min-width: 769px) {
	.header-bg {
		display: flex;
	}

	.titulo-validacion {
		margin-right: 5rem;
	}

	.titulo-validacion p {
		font-size: 2rem;
	}

	.form-consult label span {
		min-width: 30%;
	}

	.form-user-consult label:nth-child(1) {
		width: 70%;
	}

	.form-user-consult label:nth-child(2) {
		width: 30%;
	}

	.form-user-consult label:nth-child(2) span {
		min-width: 0;
		margin-right: 1rem;
	}
}
