:root{
	--corporate:#ffa126;
	--corporate-light:#ffa737;
	--blue:#1e88e5;
	--blue-gradient: linear-gradient(#5980c9, var(--blue));
	--red-gradient: linear-gradient(#f7596e,#f31230);
	--green-gradient: linear-gradient(#45d37b,#07a042);

	--box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}

body {
	margin: 0;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;	
}

canvas{
  height: 9rem !important;
	margin: 2rem;
  width: 9rem !important;
}

.btn-print {
	align-items: center;
	background: var(--corporate);
	border: 0;
	border-radius: 1rem;
	bottom: 1rem;
	color: white;
	display: flex;
	padding: .3rem 1rem;
	position: fixed;
	right: 1rem;
	z-index: 1;
	transition: color .3s, background-color .3s;
}

.btn-print img {
	height: 1rem;
	margin-left: .5rem;
	width: 1rem;
}

.btn-print:hover {
	background-color: var(--corporate-light);
	color: white;
}

.header {
	padding-top: .5rem;
	display: flex;
	width: 100%;
	flex-direction: column;
}

.header-logos {
	display: flex;
	flex: 1;
	justify-content: center;
}

.header-text {
	background: var(--blue-gradient);
	flex: 1;
	padding: 1rem;
}

.header-text h2 {
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.header-bg {
	display: none;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	height: 10rem;
	width: 100%;
	z-index: -1;
}

.main-container-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.logos {
	max-width: 9rem;
	margin: .5rem;
	object-fit: contain;
}

.title {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
}

.title > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.title-sub {
	align-items: center;
	background: var(--red-gradient);
	border-radius: 0 .3rem .5rem 0;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem 3rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
	left: -2rem;
	z-index: -1;
}

.search-resume-informative .title-sub {
	background: var(--green-gradient);
}

.title-sub > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.container-title-informe {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 5rem auto;
	max-width: 50rem;
}

.logo-user-validacion > img {
	max-width: 8rem;
}

.titulo-validacion {
	background: var(--blue-gradient);
	align-items: center;
	display: flex;
	position: relative;
	justify-content: left;
	padding: 1rem 2rem 1rem;
	margin-right: 4rem;
}

.titulo-validacion-logo {
	width: 3rem;
	height: 3rem;
}

.titulo-validacion::before {
	background: var(--blue-gradient);
	border-radius: 0 1.5rem 0 0;
	content: "";
	height: calc(100% + .3px);
	position: absolute;
	right: -2rem;
	top: 0;
	transform: skew(-15deg);
	width: 5rem;
	z-index: -1;
}

.titulo-validacion p {
	margin-left: 1rem;
	color: white;
	font-size: 1.3rem;
	line-height: 1;
	font-weight: bold;
}

.form-consult {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin: 0 auto;
}

.form-consult-title {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem;
	transform: skew(15deg);
}

.form-consult-title > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.form-consult > form {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-consult label {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	margin-bottom: .5rem;
}

.form-consult input {
	background-color: #e9ecef;
	border: .1rem solid rgb(190, 190, 190);
	border-radius: .2rem;
	flex: 1;
	padding: .5rem;
}

.form-consult label span {
	color: var(--blue);
	font-weight: 700;
	min-width: 100%;
	margin: .3rem 0;
}

.form-consult label:last-child span {
	min-width: 100%;
}

.form-user-consult {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.form-user-consult label {
	align-items: flex-end;
	display: flex;
	width: 100%;
	margin-bottom: .5rem;
}

.form-user-consult label span {
	min-width: 7rem;
	text-align: left;
}

.form-user-consult label input {
	background-color: #e9ecef;
	border: .1rem solid rgb(165, 165, 165);
	border-radius: .3rem;
	margin: 0 1rem;
	padding: .2rem .5rem;
	width: 100%;
}

.user-consult {
	display: flex;
	flex-wrap: wrap;
}

.user-consult-col {
	position: relative;
	padding: 0 1rem;
	width: 100%;
}

.user-consult-col:first-child {
	padding-left: .3rem;
	padding-bottom: 2rem;
}

.user-consult-col:first-child {
	max-width: 40rem;
	margin: 0 auto;
}

.user-consult-col:nth-child(2) {
	background: var(--blue-gradient);
	border-top-left-radius: 2rem;
}

.user-consult-col:nth-child(2)::before {
	background: var(--blue-gradient);
	content: "";
	height: 100%;
	width: 10rem;
	position: absolute;
	top: 0;
	left: -4rem;
	border-radius: 2rem 0 0 0;
	z-index: -1;
	transform: skew(-20deg);
}

.user-consult-col:nth-child(2) p {
	color: white;
}

.buttons-type {
	align-items: flex-start;
	display: flex;
	border-radius: .5rem	;
	flex-direction: column;
	padding: 2rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(230, 230, 230, .7);
}

.buttons-type h3 {
	color: var(--blue);
	font-weight: 600;
	font-size: 1rem;
	margin-right: 2rem;
}

.container-basic-data-bg {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
	opacity: .3;
}

.container-basic-data-bg-filter {
	background: var(--blue-gradient);
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: .1;
	z-index: -1;
}

.container-basic-data {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 6rem;
	margin-top: 8rem;
	padding: 4rem 2rem;
	position: relative;
}

.container-basic-data-averages {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-table-resume {
	min-height: 50rem;
}

.subtitle-underlined {
	color: var(--blue);
	font-weight: 600;
	margin-bottom: 2rem;
	margin-top: 5rem;
	padding-bottom: 1rem;
	position: relative;
	display: flex;
	justify-content: center;
}

.subtitle-underlined::before {
	border-bottom: .15rem solid var(--blue);
	position: absolute;
	bottom: 0;
	content: "";
	width: 50%;
}

.container-basic-data-graphs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.container-basic-data-graph {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container-basic-data-graph span {
	color: var(--blue);
	font-size: 1.2rem;
	font-weight: 600;
}

.container-basic-data-graph p {
	color: var(--blue);
	font-size: 1.4rem;
	font-weight: 600;
	position: absolute;
	top: 5.8rem;
}

.container-basic-data-fields,
.container-basic-data-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-basic-data-fields ul,
.container-basic-data-type ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
}

.container-basic-data-fields ul li,
.container-basic-data-type ul li {
	align-items: center;
	padding: .2rem .5rem;
	border-radius: .3rem;
	color: var(--blue);
	display: flex;
	font-size: 1.3rem;
	font-weight: 600;
	margin: .5rem 1.5rem;
}

.consult-on,
.consult-off {
	align-items: center;
	display: flex;
	color: var(--blue);
	font-weight: 600;
}

.consult-off::before,
.consult-on::before {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/imagenes/switch_off.svg);
	content: "";
	height: 2.5rem;
	width: 3rem;
}

.consult-on::before {
	background-image: url(/imagenes/switch_on.svg);
	transform: rotate(180deg);
}

.container-basic-data-fields ul li img,
.container-basic-data-type ul li img {
	height: 1.2rem;
	width: 1.2rem;
	margin-right: .3rem;
}

.search-resume-laft,
.search-resume-informative {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	flex-wrap: wrap;
}

.container-table {
	width: 100%;
	padding: 2rem;
}

.container-table table {
	max-width: 50rem;
	margin: 0 auto;
	width: 100%;
}

.container-table table tr:nth-child(2) th {
	color: var(--blue);
	text-align: center;
	border-bottom: .1rem solid gray;
	box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}

.container-table table tr:first-child th p {
	background: var(--red-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-size: 1.1rem;
	max-width: 20rem;
	padding: .5rem 1rem;
	transform: skew(15deg);
}

.search-resume-informative .container-table table tr:first-child th p {
	background: var(--green-gradient);
}

.container-table table tr:first-child th {
	padding-bottom: 2rem;
}

.container-table table tr:first-child th p span {
	transform: skew(-15deg);
}

.container-table table tbody tr td {
	text-align: center;
	padding: 1rem;
}

.container-table table tbody tr:nth-child(odd),
.container-table-resume table tbody tr:nth-child(odd) {
	background-color: rgb(233, 233, 233)
}

.container-notify {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	max-width: 70rem;
	margin: 0 auto;
}

.container-notify > .container-table {
	max-width: 33%;
}

.container-notify-textarea {
	width: 33%;
	margin: 2rem;
	padding: 2rem;
	border: .1rem solid gray;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.container-notify-alerts {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	width: calc(33% - 4rem);
}

.container-notify-alert {
	align-items: flex-start;
	background-color: #fbf5c3;
	box-shadow: var(--box-shadow);
	border-radius: .5rem;
	display: flex;
	margin-top: 1rem;
	padding: 2rem;
	transform: skew(10deg);
	width: 100%;
}

.container-notify-alert span,
.container-notify-alert img {
	transform: skew(-10deg);
}

.container-notify-alert img {
	height: 1.3rem;
	margin-top: .1rem;
	margin-right: .5rem;
	width: 1.3rem;
}

.container-table-resume {
	max-width: 70rem;
	margin: 5rem auto 10rem;
}

.container-table-resume table tbody tr td,
.container-table-resume table thead tr th {
	padding: .3rem .5rem;
	text-align: center;
	width: calc(100% / 6);
}

.container-table-resume table tbody tr td:last-child {
	text-align: left;
}

.container-table-resume table thead tr th {
	height: 3rem;
	background-color: #233c71;
	color: white;
}

/* ------ end progress bar circle ---- */
