:root{
	--corporate:#fc881d;
	--corporate-light:#fda048;
	--purple: #5817a1;
	--red: #ff1e00;
	--red-light: #f0503b;
	--blue:#0f518b;
	--blue-light: #1e88e5;
	--green: #0a6328;
	--green-light: #2f9e54;
	--notify-color:#fbf5c3;
	--blue-gradient: linear-gradient(var(--blue-light), var(--blue));
	--light-gradient: linear-gradient(white, var(--blue-light));
	--red-gradient: linear-gradient(var(--red-light),var(--red));
	--green-gradient: linear-gradient(var(--green-light),var(--green));

	--table-th-color:var(--blue-gradient);

	--subtitle-underline-color:var(--blue);

	--box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.header-fix {
	display: none;
}

canvas{
  height: 9rem !important;
	margin: 2rem;
  width: 9rem !important;
}

.btn-print {
	align-items: center;
	background: var(--corporate);
	border: 0;
	border-radius: 1rem;
	bottom: 1rem;
	color: white;
	display: flex;
	padding: .3rem 1rem;
	position: fixed;
	right: 1rem;
	z-index: 1;
	transition: color .3s, background-color .3s;
}

.btn-print img {
	height: 1rem;
	margin-left: .5rem;
	width: 1rem;
}

.btn-print:hover {
	background-color: var(--corporate-light);
	color: white;
}

.header {
	align-items: center;
	box-shadow: 0 .3rem .3rem rgba(0, 0, 0, .4);
	display: flex;
	flex-direction: column;
	padding: .5rem;
	position: relative;
	width: 100%;
}

.header::before {
	background: var(--blue-gradient);
	border-bottom-right-radius: 65%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.header::after {
	background: var(--light-gradient);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.header-logos {
	display: flex;
	justify-content: center;
}

.logos {
	max-width: 9rem;
	margin: .5rem;
	object-fit: contain;
}

.header-text {
	padding: 1rem;
}

.header-text h2 {
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.header-bg {
	display: none;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	height: 10rem;
	width: 100%;
	z-index: -1;
}

.checkin,
.checkout {
	display: flex;
	width: 1rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.checkin {
	background-image: url(/imagenes/check.png);
}

.checkout {
	background-image: url(/imagenes/cross.png);
}

.main-container-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.title {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .3rem .2rem .3rem .2rem;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
}

.title > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.title-sub {
	align-items: center;
	background: var(--red-gradient);
	border-radius: 0 .3rem .5rem 0;
	color: white;
	display: flex;
	padding: .3rem 1rem 0rem 3rem;
	position: relative;
	transform: skew(15deg);
	width: auto;
	left: -2rem;
	z-index: -1;
}

.consult-data {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin: 2rem auto;
}

.consult-data ul {
	list-style: none;
	padding: .5rem 0;
	width: 100%;
}

.consult-data ul li {
	align-items: flex-end;
	display: flex;
	margin: 1rem 0;
}

.consult-data ul li span:first-child {
		color: var(--blue);
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 1.6;
		width: 22rem;
}

.consult-data ul li span:last-child {
	border-bottom: .1rem solid rgb(143, 143, 143);
	color: rgb(56, 56, 56);
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.6;
	margin-left: 1rem;
	padding: .3rem 1rem;
	width: 100%;
}

.search-resume-informative .title-sub {
	background: var(--green-gradient);
}

.title-sub > h2 {
	font-size: 1.5rem;
	font-weight: 400;
	transform: skew(-15deg);
}

.container-title-informe {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 5rem auto;
	max-width: 50rem;
}

.logo-user-validacion > img {
	max-width: 8rem;
}

.titulo-validacion {
	align-items: center;
	background: var(--blue-gradient);
	border-radius: .3rem;
	display: flex;
	justify-content: left;
	margin-right: 4rem;
	padding: 1rem 2rem 1rem;
	position: relative;
	transform: skew(-15deg);
}

.titulo-validacion-logo {
	height: 3rem;
	transform: skew(15deg);
	width: 3rem;
}

.titulo-validacion p {
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1;
	margin-left: 1rem;
	margin-bottom: 0;
	transform: skew(15deg);
}

.buttons-type {
	align-items: flex-start;
	display: flex;
	border-radius: .5rem;
	flex-direction: column;
	padding: 2rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(230, 230, 230, .7);
}

.buttons-type h3 {
	color: var(--blue);
	font-weight: 600;
	font-size: 1rem;
	margin-right: 2rem;
}

.container-basic-data-bg {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
	opacity: .3;
}

.container-basic-data-bg-filter {
	background: var(--blue-gradient);
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: .1;
	z-index: -1;
}

.container-basic-data {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 6rem;
	margin-top: 8rem;
	padding: 4rem 2rem;
	position: relative;
}

.container-basic-data-averages {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.subtitle-underlined {
	color: var(--subtitle-underline-color);
	font-weight: 600;
	margin: 2rem 0;
	padding-bottom: 1rem;
	position: relative;
	display: flex;
	justify-content: center;
}

.subtitle-underlined::before {
	border-bottom: .2rem solid var(--subtitle-underline-color);
	position: absolute;
	bottom: 0;
	content: "";
	width: 80%;
	left: 0;
}

.container-basic-data-graphs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.container-basic-data-graph {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container-basic-data-graph p {
	color: var(--blue);
	font-size: 1.4rem;
	font-weight: 600;
	position: absolute;
	top: 5.8rem;
}

.container-basic-data-fields,
.container-basic-data-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-basic-data-fields ul,
.container-basic-data-type ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
}

.container-basic-data-fields ul li,
.container-basic-data-type ul li {
	align-items: center;
	padding: .2rem .5rem;
	border-radius: .3rem;
	color: var(--blue);
	display: flex;
	font-size: 1.3rem;
	font-weight: 600;
	margin: .5rem 1.5rem;
}

.consult-on {
	color: var(--blue);
}

.consult-off {
	color: gray;
}

.consult-on,
.consult-off {
	align-items: center;
	display: flex;
	font-weight: 600;
}

.consult-off::before,
.consult-on::before {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/imagenes/switch_off.svg);
	content: "";
	height: 2.5rem;
	width: 3rem;
}

.consult-on::before {
	background-image: url(/imagenes/switch_on.svg);
	transform: rotate(180deg);
}

.container-basic-data-fields ul li img,
.container-basic-data-type ul li img {
	height: 1.2rem;
	width: 1.2rem;
	margin-right: .3rem;
}

.search-resume-laft,
.search-resume-informative {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	position: relative;
	flex-wrap: wrap;
}

.alerts {
	bottom: auto;
	display: none;
	flex-direction: column;
	left: 1rem;
	max-width: 10rem;
	position: absolute;
	top: 4rem;
}

.search-resume-laft .alerts {
	display: flex;
}

.container-notify-alerts {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	width: calc(33% - 4rem);
}

.container-notify-alert {
	align-items: flex-start;
	background-color: var(--notify-color);
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	display: flex;
	font-size: .8rem;
	margin-top: 1rem;
	padding: .5rem;
	transform: skew(10deg);
	width: 100%;
}

.container-notify-alert span,
.container-notify-alert img {
	transform: skew(-10deg);
}

.container-notify-alert img {
	height: 1.3rem;
	margin-top: .1rem;
	margin-right: .5rem;
	width: 1.3rem;
}

.container-table {
	width: 100%;
	padding: 2rem;
}

.container-table table {
	max-width: 50rem;
	margin: 0 auto;
	width: 100%;
}

.container-table table tr:nth-child(2) th {
	color: var(--blue);
	text-align: center;
	border-bottom: .1rem solid gray;
	box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}

.container-table table tr:first-child th p {
	background: var(--red-gradient);
	border-radius: .5rem .3rem .5rem .3rem;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-size: 1.1rem;
	max-width: 20rem;
	padding: .5rem 1rem;
	transform: skew(15deg);
}

.search-resume-informative .container-table table tr:first-child th p {
	background: var(--green-gradient);
}

.container-table table tr:first-child th {
	padding-bottom: 2rem;
}

.container-table table tr:first-child th p span {
	transform: skew(-15deg);
}

.container-table table tbody tr td {
	text-align: center;
	padding: 1rem;
}

.container-table table tbody tr:nth-child(odd),
.container-table-resume table tbody tr:nth-child(odd) {
	background-color: rgb(233, 233, 233)
}

.container-providers {
	position: relative;
	width: 100%;
}

.container-notify {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 50rem;
	position: relative;
}

.container-notify > .container-table {
	max-width: 40%;
}

.container-notify-textarea {
	width: 40%;
	margin: 2rem;
	padding: 2rem;
	border: .1rem solid gray;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.container-table-resume {
	max-width: 70rem;
	margin: 5rem auto;
}

.container-table-resume table {
	width: 100%;
}

.container-table-resume table tbody tr td {
	padding: 1rem;
	text-align: center;
}

.container-table-resume table:nth-child(1) tbody tr td:last-child,
.container-table-resume table:nth-child(2) tbody tr td:last-child  {
	text-align: left;
}

.container-table-resume table thead tr th {
	background: var(--table-th-color);
	color: white;
	height: 3rem;
	padding: 1.5rem 1rem;
	text-align: center;
}

.container-observations {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin: 0 auto 5rem;
	max-width: 50rem;
}

.container-observations h2 {
	font-size: 1.4rem;
}

.container-observations span {
	border-radius: .5rem;
	border: .1rem solid gray;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
}

.footer {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding: 1rem;
	position: relative;
}

.footer::before {
	background: var(--blue-gradient);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	border-top-left-radius: 50%;
}

.footer::after {
	background: var(--light-gradient);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.footer-logos-fix {
	display: none;
}

.footer-logos {
	display: flex;
	justify-content: center;
}

.footer-logos img {
	margin: .5rem;
}

.footer p {
	padding: 0 2rem;
}

/* ------ end progress bar circle ---- */
