@media print {
  .btn-print {
    display: none;
  }
  .header-bg {
    display: none;
  }

  .header-text {
    background: var(--blue-gradient);
    padding: 2rem 1rem;
    border-radius: 1rem .5rem 5rem 1rem;
  }

  .header-text h2 {
    font-size: 1.5rem;
  }

  .main-container-1 {
    padding-top: 15rem;
    min-height: 80rem;
  }

  .container-basic-data {
    padding-top: 15rem;
    min-height: 80rem;
  }

  .container-table-resume {
    padding-top: 15rem;
  }

  .search-resume-laft,
  .search-resume-informative {
    padding-top: 15rem;
    min-height: 90rem;
  }

  .title, .title-sub {
    max-height: 3rem;
  }

  body {
    max-width: 80rem;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}