@media print {
  body {
    width: 70rem;
    height: 120rem;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .btn-print {
    display: none;
  }

  .footer {
    bottom: 0;
    position: fixed;
    background-color: transparent;
  }

  .footer-logos {
    display: none;
  }

  .footer-logos-fix {
    display: flex;
    margin: 0 1rem;
  }

  .footer-logos-fix img {
    max-width: 5rem;
  }

  .footer p {
    color: #414141;
    font-size: .6rem;
  }

  .alerts {
    display: flex;
  }

  .header-fix {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-fix img {
    max-width: 7rem;
    margin: 0 1rem;
  }

  .buttons-type {
    top: 2rem;
  }

  .header-text {
    background: var(--blue-gradient);
    padding: 2rem 1rem;
    border-radius: 1rem .5rem 5rem 1rem;
  }

  .header-text h2 {
    font-size: 1.5rem;
  }

  .main-container-1 {
    margin-top: 10rem;
    min-height: 80rem;
  }

  .container-basic-data {
    margin-top: 10rem;
    min-height: 90rem;
  }

  .container-notify {
    padding-top: 5rem;
    margin-top: 15rem;
    min-height: 90rem;
  }

  .container-tables {
    padding-top: 5rem;
    position: relative;
    min-height: 90rem;
  }

  .search-resume-laft,
  .search-resume-informative {
    margin-top: 15rem;
    min-height: 90rem;
  }

  .title, .title-sub {
    max-height: 3rem;
  }
}