
@media (min-width: 1100px) {
	.user-consult-col {
		padding: 0 2rem;
		width: 50%;
	}

	.user-consult-col:first-child {
		padding-bottom: 0;
	}

	.user-consult-col:nth-child(2) {
		background: var(--blue-gradient);
		border-top-left-radius: 2rem;
		padding-top: 2rem;
	}

	.buttons-type {
		position: absolute;
		left: 0;
		top: 0;
	}
}

@media (min-width: 769px) {
	.header {
		flex-direction: row;
		padding-top: 3rem;
	}

	.logos {
		max-width: 12rem;
		margin: 0;
	}

	.header-text {
		background: transparent;
		padding: 0 2rem 0 5rem;
	}

	.header-bg {
		display: flex;
	}

	.titulo-validacion {
		margin-right: 5rem;
	}

	.titulo-validacion p {
		font-size: 2rem;
	}

	.form-consult label span {
		min-width: 30%;
	}

	.form-user-consult label:nth-child(1) {
		width: 70%;
	}

	.form-user-consult label:nth-child(2) {
		width: 30%;
	}

	.form-user-consult label:nth-child(2) span {
		min-width: 0;
		margin-right: 1rem;
	}
}
