@media (min-width: 769px) {
	.header {
		flex-direction: row;
	}

	.logos {
		max-width: 12rem;
		margin: 0;
	}

	.header-text {
		background: transparent;
		padding: 0 2rem 0 5rem;
	}

	.header-bg {
		display: flex;
	}

	.titulo-validacion {
		margin-right: 5rem;
	}

	.titulo-validacion p {
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	.footer {
		flex-direction: row;
	}
}
